# Root-level ignore
node_modules/
.env
.DS_Store
*.log

# React (client)
client/node_modules/
client/build/
client/.env
client/.DS_Store

# Express (server)
server/node_modules/
server/.env
server/.DS_Store

# OS-specific
Thumbs.db
